body {
    background: gray;  

} 


.bar {

    top: 0px;
    margin: 0px;
    position: absolute;
   /* min-height: 40px; */
    width: 100%;
    /* word-wrap: break-word; */
    background-color: white;
    font-size: 18px; 
    font-family: 'Handlee', cursive;
}

.postcard {
    background: white;  
    width: 500px;  
    height: 410px;  
    margin: auto;  
    border: solid 1px black;
    margin-top: 30px;
} 

.postcard1 {
    background: white;  
    width: 500px;  
    height: 410px;  
    margin: auto;  
    border: solid 1px black;
    margin-top: 60px;
} 
.header {
    width: 485px;  
    height: 30px;    
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
} 
.mleft
{
    position: absolute;
    right: 0;
    top: 0;

}

.test
{
    margin-left: 35%;

}

.bodypost {
    width: 500px;  
    height: 300px;    
    position: relative;

} 

.footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
} 
